body
{

    margin: 0px;
    background-color: rgb(24, 17, 34);

}

footer
{

    position: relative;
    top: 51px;
    left: -100.1px;
    width: 700.1px;
    padding-top: 16px;
    height: 40px;
    text-align: center;
    line-height: 10px;
    background-color: rgb(55, 47, 59);
    color: white;    
}

.main
{

    margin:auto;
    width: 500px;
    background-color: rgb(94, 85, 105);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 51px;
    margin-top: 3%;
    box-shadow: 0px 3px 10px black;
    user-select: none; /* DESABILITA TODO CLICK FORA DO JS NO SITE*/
    border: 5px solid rgb(30, 27, 34);
    
}

#title
{

    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#color-palette 
{

    width: 200px;
    height: 50px;
    padding-left: 160px;
    display: inline-block;
    position: relative;
    margin-bottom: 60px;
}

.color
{

    border: 1px solid black;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: 4px;
}

#pixel-board
{

    position: relative;
    height: 210px;
    border: 2px solid black;
    margin: auto;
}

.pixel
{

    width: 40px;
    height: 40px;
    border: 1px solid black;
    display:inline-block;
    margin-bottom: -4px;
    padding-bottom: 0px;
}

#clear-board
{

    width: fit-content;
    height: 15px;
    font-size: 10px;
    position: relative;
    left: -138px;
    top: 35px;
    box-shadow: 0px 2px 5px black;
}

#board-size
{

    width: 85px;
    height: 12px;
    font-size: 10px;
    box-shadow: 0px 2px 5px black;
    border-radius: 5px;
    border: 2px solid white;
}

#manual-input
{

    width: fit-content;
    left: 184px;
    top: -15px;
    position: relative;
}

#generate-board
{

    font-size: 10px;
    position: relative;
    box-shadow: 0px 2px 5px black;
}
