@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

body
{

    margin: 0px;
    background-color: rgb(24, 17, 34);
    font-family: 'Akshar', sans-serif;
}

footer
{

    position: relative;
    margin: auto;
    top: 52px;
    left: -.4px;
    width: 100.4%;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    line-height: 10px;
    background-color: rgb(55, 47, 59);
    color: white;    
}

.main
{
    position: relative;
    margin: auto;
    margin-top: 2%;
    width: fit-content;
    background-color: rgb(94, 85, 105);
    padding-top: 10px;
    padding-bottom: 51px;
    box-shadow: 0px 3px 10px black;
    user-select: none; /* DESABILITA TODO CLICK FORA DO JS NO SITE*/
    border: 5px solid rgb(30, 27, 34);
}

#title
{

    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}

#color-palette 
{

    width: 175px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    justify-content: space-between;
    display: flex;
}

.color
{

    border: 1px solid black;
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: 4px;
}

#pixel-board
{

    position: relative;
    height: 210px;
    border: 2px solid black;
    margin: auto;
}

.pixel
{

    width: 40px;
    height: 40px;
    border: 1px solid black;
    display:inline-block;
    margin-bottom: -4.6px;
    padding-bottom: 0px;
}

#clear-board
{

    width: fit-content;
    height: 15px;
    font-size: 10px;
    position: relative;
    margin: auto;
    box-shadow: 0px 2px 5px black;   
}

#button-div
{

    margin: auto;
    position:relative;
    width: fit-content;
    margin-bottom: 10px;
}

#board-size
{

    position: relative;
    margin: auto;
    width: 85px;
    height: 12px;
    font-size: 10px;
    box-shadow: 0px 2px 5px black;
    border-radius: 5px;
    border: 2px solid white;
    margin-bottom: 40px;
}

#manual-input
{

    width: fit-content;
    margin: auto;
    position: relative;
}

#generate-board
{

    font-size: 10px;
    position: relative;
    box-shadow: 0px 2px 5px black;
}